<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.edu.modular.edu.dao.ZbMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.edu.modular.edu.model.Zb">
        <id column="id" property="id" />
        <result column="x" property="x" />
        <result column="y" property="y" />
        <result column="star" property="star" />
    </resultMap>

</mapper>
