package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};
import org.springframework.stereotype.Component;
import org.springframework.transaction.annotation.Transactional;

/**
 * <p>
 * $!{table.comment} Mapper 接口
 * </p>
 *
 * @author Monkey
 * @since ${date}
 */
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
@Transactional
@Component
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}
#end
