<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>API数据获取范例</title>
</head>
<body>
<form action="http://www.smenn.com.cn/api.php" method="post">
    <input name="token" type="text"
           value="abf29KAgqa8QpuwkOEMIv5V-S-AQXjgJgdQwJyjvN86AwidBhukZeeoVVaVHe4J0RHN2KpirMOj1hQyVDcL1tb5BSNkY8"/>
    <input type="submit" value="提交"/>
</form>
</body>
</html>
